* {
    margin: 0;
}

body {
    font-family: arial, sans-serif;
    background-color: lightblue;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

.col-12 {
    width: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

.specials div {
    flex: 1;
    padding: 1em;
    margin-right: 1em;
    margin-left: 1em;
    border-top-left-radius: 3em;
    border: 5px solid #2D3E4E;
}

.small img {
    width: 7em;
    border-top-left-radius: 2em;
}

.medium img {
    width: 9em;
    border-top-left-radius: 2em;
}

.large img {
    width: 11em;
    border-top-left-radius: 2em;
}

.footer {
    display: flex;
    margin-top: 2vh;
}

.footer div {
    flex: 1;
    padding: 1em;
    background-color: white;
    width: 100%;
}

.myCart {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.myCart td,
.myCart th {
    border: 1px solid #ddd;
    padding: 8px;
}

.myCart tr:nth-child(even) {
    background-color: #f2f2f2;
}

.myCart tr:hover {
    background-color: #ddd;
}

.myCart th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

button {
    background-color: #17252A;
    color: white;
    padding: 9px 15px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5vh;
}

caption {
    padding: 1em;
    border: 5px solid #2D3E4E;
    text-shadow: 2px 2px 5px #2D3E4E;
    border-top-left-radius: 4em;
}

.inputPriceSpan {
    padding: 10px;
}

.paymentBtn {
    margin-bottom: 4em;
    margin-top: -12em;
    margin-left: 60em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.inputPrice {
    margin-top: 1em;
    text-align: center;
}

#teleport {
    width: 100%;
    background-color: #DDDDDD;
}

.nav {
    display: flex;
    margin-top: 1em;
    justify-content: center;
}

.payments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 2em;
    background-color: #f2f2f2;
}

.aboutFeedback {
    padding-top: 1em;
}

.orderBtn {
    width: 5rem;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.controlBtn {
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-size: 15px;
    margin: 5px;
}

.checkoutBtn {
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-size: 17px;
    width: 15rem;
    background-color: #04AA6D;
    justify-content: center;
    margin-bottom: 1em;
}

.red {
    color: red;
}

.green {
    color: #04AA6D;
}

@media (min-width: 768px) {

    .specials {
        display: flex;
    }

    body {
        font-size: 1em;
    }

}
@media (max-width: 1024px) {

    .paymentBtn {
        margin-left: 24em;
        background-color: #04AA6D;
    }
}

@media (max-width: 425px) {
    .paymentBtn {
        margin-left: 13em;
        background-color: #04AA6D;
    }
}