body {
    background-color: white;
    font-family: arial, sans-serif;
    font-size: 0.75em;
}
html{

    border: 1px solid blue;
}
h1 {
    padding-top: 5vh;
    color: #2D3E4E;
    font-style: oblique;
    text-shadow:  2px 2px 5px #2D3E4E;
}

.small {
    background-color: white;
    border: 5px solid #2D3E4E;
    text-align: center;
}

.medium {
    background-color: white;
    border: 5px solid #2D3E4E;
    text-align: center;

}
.butHey{
        position: absolute;
        margin-top: 17vh;
        float: right;
        margin-left: 120vh;
}

.large {
    background-color: white;
    border: 5px solid #2D3E4E;
    text-align: center;
    flex: 2;
}

.specials div {
    flex: 1;
    margin: 0em;
    padding: 1em;
    margin-right: 1em;
    margin-left: 1em;
    border-top-left-radius: 3em;

}

.small img {
    width: 7em;
    border-top-left-radius: 2em;
}

.medium img {
    width: 9em;
    border-top-left-radius: 2em;
}

.large img {
    width: 11em;
    border-top-left-radius: 2em;
}

.footer {
    display: flex;
    margin-top: 2vh;
}

.footer div {
    flex: 1;
    padding: 1em;
    background-color: white;
    width: 100%;
}


@media (min-width: 768px) {

    .specials {
        display: flex;
    }

    body {
        font-size: 1em;
    }

}

.myCart {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 4em;
    margin-top: 3vh;
    margin-bottom: 3vh;
    box-shadow: 0 20px 25px 0 rgba(0,0,0,1), 0 6px 20px 0 rgba(0,0,0,1);
}

.myCart td,
.myCart th {
    border: 1px solid #ddd;
    padding: 8px;
}

.myCart tr:nth-child(even) {
    background-color: #f2f2f2;
}

.myCart tr:hover {
    background-color: #ddd;
}

.myCart th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

button {
    background-color: #17252A;
    color: white;
    padding: 9px 15px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5vh;
}

.col-12 {
    text-align: center;
}

caption {
    border: 2px solid #E09E50;
    color: #E09E50;
    font-size: large;
    font-weight: 50em;
    padding-bottom: 2em;
    text-shadow:  2px 2px 5px #2D3E4E;
    border-top-left-radius: 4em;

}

.paymentBtn{
    margin-bottom: 3em;
    margin-left: 100vh;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.inputPrice{
    margin-top: 1em;
    text-align: center;
}

#teleport{
    width: 100%;
    background-color: #DDDDDD;
}

.ic{
    width: 3em;
    height: 3em;
    padding-top: 1vh;
}
.nav{
    display: flex;
    margin-top: 1em;
    justify-content: center;
}

.payments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.feedback{
    padding-top: 3vh;
}

.orderBtn{
    width: 5rem;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: 0 20px 25px 0 rgba(0,0,0,1), 0 6px 20px 0 rgba(0,0,0,1);
}
.controlBtn{
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-size: 17px;
    width: 3rem;
}
.checkoutBtn{
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-size: 17px;
    width: 15rem;
    background-color: #04AA6D;
    justify-content: center;
    margin-bottom: 1em;
}

.red{
    color: red;
}
.sCart{
    width: 2em;
    height: 2em;
    padding-top: 1em;
}
